<tr>
  <td class="align-middle">{{ item.name }}</td>
  <td class="align-middle">{{ item.description }}</td>
  <td class="align-middle">
    <div class="d-flex gap-2">
      <button
        class="btn btn-sm btn-outline-primary"
        hx-get="{% url 'update' item.id %}"
        hx-target="#modal"
        hx-swap="innerHTML"
      >
        Edit
      </button>

      <button
        class="btn btn-sm btn-outline-danger"
        hx-get="{% url 'delete' item.id %}"
        hx-target="#modal"
        hx-swap="innerHTML"
      >
        Delete
      </button>
    </div>
  </td>
</tr>
